.contents {
    width: 375px;
    text-align: left;
    margin-top: 20px;
}

.contents strong { 
    font-size: 24px; 
    text-decoration: underline;
} 

.contents p { 
    font-size: 18px; 
    margin-top: 10px;
} 

.contents a { 
    text-decoration: underline; 
    cursor: pointer;
} 

.contents a:hover { color: var(--ch-black); } 
