@font-face {
    font-family: bree;
    src: url(/cynohost/media/BreeSerif-Regular.woff);
}

@font-face {
    font-family: bree-bold;
    src: url(/cynohost/media/BreeSerif-Bold.woff);
}

* {
    margin: 0;
    padding: 0;
    transition: 250ms;
}

:root {
    --ch-green: #23CE6B;
    --ch-light-green: #D4FFE6;
    --ch-white: #F6F8FF;
    --ch-black: #272D2D;
    --ch-gray: #6C757D;
    --ch-default-fontsize: 18px;
}

body {
    background: var(--ch-green);
    font-size: var(--ch-default-fontsize);
    font-family: bree;
    color: var(--ch-white);
}

#header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    color: var(--ch-white);
    right: 0;
    left: 0;
    top: 0;

}

form[type="file"] {
    font-family: bree-bold;
}

#header .group { padding-right: 10px; }

#header .group button {
    color: var(--ch-white);
    font-family: bree-bold;
    background: transparent;
    font-size: 18px;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: -5px;
}

#header .group button:hover { text-decoration: underline; }

#header .social-media { 
    margin-left: 10px; 
}

#header .social-media img {
    width: 35px;
    margin-right: 10px;
    margin-top: 5px;
}

#container {
    width: fit-content;
    margin: 100px auto auto auto;
    text-align: center;
}

#container .logo {
    width: 375px;
}

#container b {
    font-size: 30px;
}

#container span { font-size: 20px; }

#word { font-size: 20px !important; }

#container .upload {
    color: var(--ch-white);
    background: transparent;
    font-size: 16px;
    font-family: bree;
    border: 4px solid var(--ch-white);
    border-radius: 8px;
    padding: 15px;
    cursor: pointer;
    width: 100%;
    margin-top: 50px;
}

#container .upload:hover {
    color: var(--ch-green);
    background: var(--ch-white);
}

#container form {
    border: 4px solid var(--ch-white);
    border-radius: 8px;
    font-size: 16px;
    font-family: bree;
    color: var(--ch-white);
    background: transparent;
    margin-top: 20px;
    padding: 7px;
}

#container form input[type="submit"] {
    border: 4px solid var(--ch-white);
    border-radius: 8px;
    background: transparent;
    color: var(--ch-white);
    font-family: bree;
    padding: 15px;
    cursor: pointer;
}

#container form input[type="submit"]:hover {
    color: var(--ch-green);
    background: var(--ch-white);
}

er {
    color: var(--ch-light-green);
    font-family: bree-bold;
    margin: auto;
}

.show {
    display: block !important;
}

.hide {
    display: none;
}

#footer {
    margin: auto;
    margin-bottom: 16px;
    width: fit-content;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#footer a {
    color: inherit;
    cursor: pointer;
}

#footer a:hover { color: var(--ch-black); }




